node_modules
**/node_modules
.pnpm-store
**/dist
**/.next
**/.turbo
.turbo
**/coverage
.git
.husky
.embedded-postgres
.minio-data
**/*.log
.env
.env.*
!.env.example
package-lock.json
docs
.idea
.vscode
